;; shadow-cljs configuration
{:lein true
 :builds
 {:main {:target :browser
         :output-dir "public/assets/datashelf/js"
         :asset-path "/assets/datashelf/js"
         :modules {:main {:entries [datashelf.core]}}}}}
