;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[databox "0.2.0-SNAPSHOT"]]

 :builds
 {:main {:target :browser
         :output-dir "public/assets/datashelf/js"
         :asset-path "/assets/datashelf/js"
         :modules {:main {:entries [datashelf.core]}}}}}
